<header id="header" data-mr-component="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="header-logo-wrapper">
                    <a class="header-logo hit-map" href="/">Mat R Something Studio</a>
                    {{!-- <span class="header-logo lit">Mat R Something Studio</span> --}}
                </div>
            </div>

            <div class="col-md-6">
                <div id="header-switch-wrapper">
                    <span class="header-switch hit-map" data-mr-el="header-switch">
                        <span id="switch-label" data-mr-el="switch-label">Lights Out</span>
                    </span>
                    {{!-- <span class="header-switch lit">Look for the light</span> --}}
                </div>
            </div>
        </div>
    </div>
</header>