<div id="screen-preload" class="debugx" data-mr-component="screen-preload">
    {{#> 'shared/modules/container'}}
        <div class="col-md-10 mx-auto">
            <div class="quote-wrapper" data-mr-el="quote-wrapper">
                <p class="quote"><span class="q-span">“When</span> <span class="q-span">you’re</span> <span class="q-span">lost</span> <span class="q-span">in</span> <span class="q-span">the</span> <span class="q-span">darkness,</span> <span class="q-span">look</span> <span class="q-span">for</span> <span class="q-span">the</span> <span class="q-span">light.”</span></p>
                <cite class="quote-byline" data-mr-el="quote-byline">― <strong>THE LAST OF US, 2013</strong></cite>
            </div>
        </div>
    {{/ 'shared/modules/container'}}
</div>