<div id="screen-preload" class="debugx" data-mr-component="screen-preload">
    {{#> 'shared/modules/container'}}
        <div class="col-md-10 mx-auto">
            <div class="quote-wrapper" data-mr-el="quote-wrapper">
                <p class="quote"><span class="q-span">“A</span> <span class="q-span">whisper</span> <span class="q-span">is</span> <span class="q-span">just</span> <span class="q-span">as</span> <span class="q-span">potent</span> <span class="q-span">as</span> <span class="q-span">a</span>&nbsp;<span class="q-span">shout.”</span></p>
                <cite class="quote-byline" data-mr-el="quote-byline">― <strong>B. Stahl</strong></cite>
            </div>
        </div>
    {{/ 'shared/modules/container'}}
</div>