// Component - header
#header {
    display: none;

    .has-touch & {
        display: none !important;
    }

    @include media-breakpoint-up(lg) {
        display: block;
        pointer-events: auto;
    }

    #header-logo-wrapper {
        margin-top: 43px;
        margin-left: -55px;

        .header-logo {
            @include picture (75px, 61px, '../../svgs/logo-dark.svg');
            z-index: -1;
            border: 0;
            opacity: .7;
            transition: opacity 300ms ease-in-out;

            &.lit {
                top: -61px;
                margin-bottom: -61px;
            }

            &.hit-map {
                // opacity: 0;
                z-index: 1;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    #header-switch-wrapper {
        margin-top: 43px;
        margin-right: 150px;

        .header-switch {
            $w: 300px;
            $h: 30px;
            @include picture ($w, $h, '../../svgs/bulb.svg');
            cursor: pointer;
            opacity: .7;
            z-index: -1;
            left: 100%;
            border: 0;
            padding-top: 7px;
            text-indent: 22px;
            font-weight: 300;
            font-size: 13px;
            transition: opacity 350ms 100ms ease-in-out;

            #switch-label {
                cursor: pointer;
                display: inline-block;
                font-weight: 100;
                letter-spacing: .18em;
                transform: translateX(-30px);
                opacity: 0;
                transition: opacity 375ms 100ms ease-in-out, transform 375ms 100ms ease-in-out;
                
            }

            &.lit {
                top: -$h;
                margin-bottom: -$h;
            }

            &.hit-map {
                // opacity: 0;
                z-index: 1;
            }

            &:hover {
                opacity: 1;

                #switch-label {
                    opacity: .5;
                    transform: translateX(0);
                }
            }
        }
    }
}