<section class="section section-hero" data-scroll-section>
    {{#> 'shared/modules/container'}}
        <h1 id="hero-headline" class="hero-headline" data-mr-el="hero-headline">Mat R Something</h1>
        {{!-- <button id="hero-cta" class="btn-hero-cta" data-mr-el="hero-cta" data-href="#about">Learn More</button> --}}
        <a id="hero-cta" class="btn-hero-cta" href="#about">Learn More</a>
    {{/ 'shared/modules/container'}}
</section>